* {
    background-color: #faebd7;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    text-align: center;
}

.nav-item {
    color: #920404;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    color: #01865e;
}